In [2]:
from pyproj import Proj, transform
import pandas as pd

In [3]:
proj_1 = Proj(init = 'epsg:2097')
proj_2 = Proj(init = 'epsg:4326')

/opt/anaconda3/lib/python3.9/site-packages/pyproj/crs/crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
/opt/anaconda3/lib/python3.9/site-packages/pyproj/crs/crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [5]:
df = pd.read_csv("bar_list.csv",encoding = 'cp949')

In [6]:
df.head()

,지번주소,도로명주소,사업장명,좌표정보(X),좌표정보(Y)
0,서울특별시 강남구 신사동 525-13 지상1층101102호,서울특별시 강남구 압구정로4길 13-13 (신사동지상1층101102호),르포트 13,201799.8716,446679.2061
1,서울특별시 강남구 삼성동 150-21번지 지상1층,서울특별시 강남구 삼성로104길 7 (삼성동지상1층),한탕,204811.7927,445410.9511
2,서울특별시 강남구 논현동 242-21 삼아프라자,서울특별시 강남구 선릉로129길 3-6 삼아프라자 1층 101호 (논현동),묵호일식,203552.5167,445969.4993
3,서울특별시 강남구 청담동 95-15번지 지상2층,서울특별시 강남구 압구정로72길 22 지상2층 (청담동),볼트스테이크하우스(Vault steak house),203905.7515,446976.7192
4,서울특별시 강남구 역삼동 817-21 지상1층,서울특별시 강남구 강남대로96길 17 (역삼동지상1층),용용선생 강남역점,202441.5187,444214.6520

In [7]:
x_list = df['좌표정보(X)']
y_list = df['좌표정보(Y)']

In [9]:
x_list.head()

0    446679.2061
1    445410.9511
2    445969.4993
3    446976.7192
4    444214.6520
Name: 좌표정보(Y), dtype: float64

In [10]:
y_list.head()

0    446679.2061
1    445410.9511
2    445969.4993
3    446976.7192
4    444214.6520
Name: 좌표정보(Y), dtype: float64

In [12]:
#중부원점좌표계를 위도,경도로 변환
converted = transform(proj_1,proj_2,x_list,y_list)

/var/folders/d2/20dks6yj46b_077x0h5fmr740000gn/T/ipykernel_5548/3056854108.py:2: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  converted = transform(proj_1,proj_2,x_list,y_list)

pandas.core.series.Series

In [17]:
df['좌표정보(X)'] = converted[1]
df['좌표정보(Y)'] = converted[0]

In [18]:
df.head()

,지번주소,도로명주소,사업장명,좌표정보(X),좌표정보(Y)
0,서울특별시 강남구 신사동 525-13 지상1층101102호,서울특별시 강남구 압구정로4길 13-13 (신사동지상1층101102호),르포트 13,37.522346,127.018259
1,서울특별시 강남구 삼성동 150-21번지 지상1층,서울특별시 강남구 삼성로104길 7 (삼성동지상1층),한탕,37.510909,127.052322
2,서울특별시 강남구 논현동 242-21 삼아프라자,서울특별시 강남구 선릉로129길 3-6 삼아프라자 1층 101호 (논현동),묵호일식,37.515947,127.038082
3,서울특별시 강남구 청담동 95-15번지 지상2층,서울특별시 강남구 압구정로72길 22 지상2층 (청담동),볼트스테이크하우스(Vault steak house),37.525020,127.042083
4,서울특별시 강남구 역삼동 817-21 지상1층,서울특별시 강남구 강남대로96길 17 (역삼동지상1층),용용선생 강남역점,37.500139,127.025509

In [19]:
df.rename(columns = {"좌표정보(X)":"위도","좌표정보(Y)":"경도"},inplace = True)

In [20]:
df.head()

,지번주소,도로명주소,사업장명,위도,경도
0,서울특별시 강남구 신사동 525-13 지상1층101102호,서울특별시 강남구 압구정로4길 13-13 (신사동지상1층101102호),르포트 13,37.522346,127.018259
1,서울특별시 강남구 삼성동 150-21번지 지상1층,서울특별시 강남구 삼성로104길 7 (삼성동지상1층),한탕,37.510909,127.052322
2,서울특별시 강남구 논현동 242-21 삼아프라자,서울특별시 강남구 선릉로129길 3-6 삼아프라자 1층 101호 (논현동),묵호일식,37.515947,127.038082
3,서울특별시 강남구 청담동 95-15번지 지상2층,서울특별시 강남구 압구정로72길 22 지상2층 (청담동),볼트스테이크하우스(Vault steak house),37.525020,127.042083
4,서울특별시 강남구 역삼동 817-21 지상1층,서울특별시 강남구 강남대로96길 17 (역삼동지상1층),용용선생 강남역점,37.500139,127.025509