In [2]:
import shapefile
import pandas as pd
from pyproj import proj, transform

In [54]:
#링크 경로
shp_path_link = '/Users/juhong/Library/CloudStorage/OneDrive-아주대학교/대학교/3학년 2학기/캡스톤/직접 연계 통계 모음/모음/교통량모음/[2022-11-15]NODELINKDATA/MOCT_LINK.dbf'

In [8]:
#노드 경로
shp_path_node = '/Users/juhong/Library/CloudStorage/OneDrive-아주대학교/대학교/3학년 2학기/캡스톤/직접 연계 통계 모음/모음/교통량모음/[2022-11-15]NODELINKDATA/MOCT_NODE.shp'

In [55]:
sf_node = shapefile.Reader(shp_path_node,encoding='cp949')
sf_link = shapefile.Reader(shp_path_link,encoding='cp949')

In [77]:
#copy code
# node
fields_node = [x[0] for x in sf_node.fields][1:]
records_node = sf_node.records()
shps = [s.points for s in sf_node.shapes()] # node has coordinate data.

In [78]:
fields_link = [x[0] for x in sf_link.fields][1:]
records_link = sf_link.records()

In [79]:
node_dataframe = pd.DataFrame(columns=fields_node,data = records_node)

In [80]:
node_dataframe[1:5]

      NODE_ID NODE_TYPE     NODE_NAME TURN_P REMARK
1  1865949201       101      둔곡국가산업단지      0
2  3280218101       101       여수성황고가교      1
3  2980010700       101         대지삼거리      0
4  2230002405       101  주피엔지오산공장앞교차로      1

In [49]:
link_dataframe = pd.DataFrame(columns=fields_link,data=records_link)

In [41]:
link_dataframe.head()

,LINK_ID,F_NODE,T_NODE,LANES,ROAD_RANK,ROAD_TYPE,ROAD_NO,ROAD_NAME,ROAD_USE,MULTI_LINK,CONNECT,MAX_SPD,REST_VEH,REST_W,REST_H,LENGTH,REMARK
0,3530065500,3530037800,3530039300,1,107,000,-,용천4로5길,0,0,000,40,0,0,0,83.080471,
1,2320132300,2320049500,2320049300,3,107,000,-,김포한강로,0,0,000,80,5,0,0,4251.230196,
2,2320132400,2320050000,2320049900,3,107,000,-,김포한강로,0,0,000,80,5,0,0,1697.683644,
3,2320132500,2320049900,2320050000,3,107,000,-,김포한강로,0,0,000,80,5,0,0,1694.251797,
4,2320132600,2320048400,2320048600,1,107,000,-,김포대로320번길,0,0,000,60,0,0,0,895.393717,

In [75]:
first=sf_node.shapeRecords()[1]
element = first.shape.__geo_interface__
print(element.keys())

dict_keys(['type', 'coordinates'])

In [76]:
print(element.keys())

dict_keys(['type', 'coordinates'])

In [82]:
shape_node = sf_node.shapeRecords()
coordinate_node1 = records_node[0].shape.__geo_interface__
print(coordinate_node1)

{'type': 'Point', 'coordinates': (306862.5291000029, 364128.75820006494)}

In [85]:
coordinate_node1 = records_node[3].shape.__geo_interface__
print(coordinate_node1)

{'type': 'Point', 'coordinates': (173042.91625594144, 460426.2495363818)}