In [18]:
import pandas as pd
import numpy as np

In [41]:
file_node_link = '/Users/juhong/Library/CloudStorage/OneDrive-아주대학교/대학교/3학년 2학기/캡스톤/직접 연계 통계 모음/모음/교통량모음/교통량 처리/node_data.csv'

In [42]:
df = pd.read_csv(file_node_link,encoding = 'cp949')

/var/folders/d2/20dks6yj46b_077x0h5fmr740000gn/T/ipykernel_2981/1134980447.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_node_link,encoding = 'cp949')

In [43]:
df.head()

,NODE_ID,NODE_TYPE,NODE_NAME,TURN_P,REMARK,geometry
0,3680002100,101,수성2교차로,0,NaN,POINT (128.18322179476573 35.868756650008145)
1,1865949201,101,둔곡국가산업단지,0,NaN,POINT (127.35891693841688 36.452237812894204)
2,3280218101,101,여수성황고가교,1,NaN,POINT (127.67617499993783 34.932872998457114)
3,2980010700,101,대지삼거리,0,NaN,POINT (126.69816817564961 36.74202186433034)
4,2230002405,101,주피엔지오산공장앞교차로,1,NaN,POINT (127.05778259845701 37.151922307897934)

In [44]:
df_gangnam = df['NODE_ID'].apply(lambda x : x if(x//10000000==122) else 0)

In [45]:
df_gangnam = df_gangnam.replace(0,np.NaN)

In [46]:
df = df.drop(['NODE_ID'],axis=1)

In [47]:
df_gangnam = pd.concat([df_gangnam,df],axis=1)

In [48]:
df_gangnam = df_gangnam.drop(['REMARK'],axis=1)

In [51]:
df_gangnam = df_gangnam.dropna()
df_gangnam = df_gangnam.reset_index()

In [52]:
df_gangnam.to_csv('/Users/juhong/Library/CloudStorage/OneDrive-아주대학교/대학교/3학년 2학기/캡스톤/직접 연계 통계 모음/모음/교통량모음/노드링크/강남구_노드')

,index,NODE_ID,NODE_TYPE,NODE_NAME,TURN_P,geometry
0,998,1.220151e+09,104,구룡지하차도동측,0,POINT (127.05502928942961 37.47402378421716)
1,2342,1.220014e+09,101,자곡사거리,1,POINT (127.1062930585011 37.475554078467475)
2,2544,1.220018e+09,101,수서역4번출구,0,POINT (127.10296038187033 37.486289977076396)
3,2545,1.220018e+09,101,수서아파트6단지607동,0,POINT (127.10437337272027 37.48646420764026)
4,2546,1.220020e+09,101,수서역앞교차로,1,POINT (127.10168900577904 37.48736194934188)
...,...,...,...,...,...,...
646,198817,1.220159e+09,101,자곡동205-9,1,POINT (127.10472843460819 37.48224730568603)
647,200347,1.220160e+09,101,수서동242-6,0,POINT (127.10586449999336 37.486410893394776)
648,200348,1.220160e+09,101,수서동235-2,1,POINT (127.10685005657982 37.48640065666288)
649,200349,1.220160e+09,101,수서동186-1,0,POINT (127.107324948588 37.48535552787398)
650,200350,1.220159e+09,101,수서동194-6,0,POINT (127.10655201311982 37.48526620018238)