In [11]:
import pandas as pd
import bisect
import numpy as np

In [5]:
df = pd.read_csv('강남구 일반 음식점.csv',encoding = 'cp949')

In [6]:
df.head()

,Unnamed: 0,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,지번주소,도로명주소,도로명우편번호,사업장명,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y)
0,288039,1,영업/정상,1,영업,서울특별시 강남구 청담동 3-17번지 지하2층,서울특별시 강남구 선릉로148길 33 (청담동지하2층),NaN,2,I,2018.8.31 23:59,경양식,203666.9228,446744.6582
1,289682,1,영업/정상,1,영업,서울특별시 강남구 청담동 90-3번지 지하1층,서울특별시 강남구 도산대로61길 27 (청담동지하1층),6016.0,2,I,2018.8.31 23:59,경양식,203743.2057,447049.6231
2,288487,1,영업/정상,1,영업,서울특별시 강남구 역삼동 721-3번지 지하1층,서울특별시 강남구 테헤란로38길 27 (역삼동지하1층),6222.0,10,I,2018.8.31 23:59,한식,203712.4418,444284.7633
3,286058,1,영업/정상,1,영업,서울특별시 강남구 신사동 516-10번지,서울특별시 강남구 강남대로156길 40 (신사동),6035.0,25,I,2018.8.31 23:59,분식,201904.9095,446296.1644
4,285870,1,영업/정상,1,영업,서울특별시 강남구 역삼동 687-0 지하1층,서울특별시 강남구 언주로108길 8 (역삼동지하1층),6144.0,104,U,2022.3.23 2:40,경양식,203494.3374,445092.8330

In [25]:
df = df[['지번주소','도로명주소','사업장명','좌표정보(X)','좌표정보(Y)']]

In [10]:
df.head()

,지번주소,도로명주소,사업장명,좌표정보(X),좌표정보(Y)
0,서울특별시 강남구 청담동 3-17번지 지하2층,서울특별시 강남구 선릉로148길 33 (청담동지하2층),2,203666.9228,446744.6582
1,서울특별시 강남구 청담동 90-3번지 지하1층,서울특별시 강남구 도산대로61길 27 (청담동지하1층),2,203743.2057,447049.6231
2,서울특별시 강남구 역삼동 721-3번지 지하1층,서울특별시 강남구 테헤란로38길 27 (역삼동지하1층),10,203712.4418,444284.7633
3,서울특별시 강남구 신사동 516-10번지,서울특별시 강남구 강남대로156길 40 (신사동),25,201904.9095,446296.1644
4,서울특별시 강남구 역삼동 687-0 지하1층,서울특별시 강남구 언주로108길 8 (역삼동지하1층),104,203494.3374,445092.8330

In [22]:
df_s = df[['사업장명']]
df_s = df_s.to_numpy()
df_s = df_s.ravel()

In [23]:
df_s.searchsorted('사이')

5318

In [30]:
df['지번주소'][df_s.searchsorted('사이')]

'서울특별시 강남구 신사동 519-1번지 '

In [38]:
scraping = pd.read_csv('술집_scraping.csv',encoding = 'cp949')

In [39]:
scraping.head()

         르챔버
0         한추
1         묵전
2  볼트스테이크하우스
3  용용선생 강남역점
4    마코토 청담점