In [1]:
import pandas as pd

In [26]:
#강남구 음식점 데이터 처리
df = pd.read_csv("/Users/juhong/Library/CloudStorage/OneDrive-아주대학교/대학교/3학년 2학기/캡스톤/직접 연계 통계 모음/모음/서울시 일반음식점 인허가 정보.csv",encoding = 'UTF8')

/var/folders/d2/20dks6yj46b_077x0h5fmr740000gn/T/ipykernel_4411/4044769623.py:2: DtypeWarning: Columns (25,27,28,29,30,36,39,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/juhong/Library/CloudStorage/OneDrive-아주대학교/대학교/3학년 2학기/캡스톤/직접 연계 통계 모음/모음/서울시 일반음식점 인허가 정보.csv",encoding = 'UTF8')

In [28]:
df['지번주소'].head()

0     서울특별시 종로구 평창동 110-1번지
1        서울특별시 종로구 인사동 98번지
2    서울특별시 종로구 종로6가 129-1번지
3        서울특별시 종로구 통인동 27-2
4       서울특별시 종로구 창신동 696-1
Name: 지번주소, dtype: object

In [29]:
df.dtypes

개방자치단체코드       int64
관리번호          object
인허가일자          int64
인허가취소일자      float64
영업상태코드         int64
영업상태명         object
상세영업상태코드       int64
상세영업상태명       object
폐업일자         float64
휴업시작일자       float64
휴업종료일자       float64
재개업일자        float64
전화번호          object
소재지면적        float64
소재지우편번호      float64
지번주소          object
도로명주소         object
도로명우편번호      float64
사업장명          object
최종수정일자       float64
데이터갱신구분       object
데이터갱신일자       object
업태구분명         object
좌표정보(X)      float64
좌표정보(Y)      float64
위생업태명         object
남성종사자수       float64
여성종사자수        object
영업장주변구분명      object
등급구분명         object
급수시설구분명       object
총인원          float64
본사종업원수       float64
공장사무직종업원수    float64
공장판매직종업원수    float64
공장생산직종업원수    float64
건물소유구분명       object
보증액          float64
월세액          float64
다중이용업소여부      object
시설총규모        float64
전통업소지정번호      object
전통업소주된음식      object
홈페이지         float64
dtype: object

In [30]:
del df['전통업소주된음식']

In [31]:
del df['시설총규모']
del df['전통업소지정번호']
del df['홈페이지']
del df['다중이용업소여부']
del df['월세액']
del df['보증액']
del df['건물소유구분명']
del df['공장생산직종업원수']
del df['공장판매직종업원수']
del df['공장사무직종업원수']
del df['본사종업원수']
del df['총인원']
del df['급수시설구분명']
del df['등급구분명']
del df['남성종사자수']
del df['여성종사자수']
del df['위생업태명']

In [33]:
df.dtypes

개방자치단체코드      int64
관리번호         object
인허가일자         int64
인허가취소일자     float64
영업상태코드        int64
영업상태명        object
상세영업상태코드      int64
상세영업상태명      object
폐업일자        float64
휴업시작일자      float64
휴업종료일자      float64
재개업일자       float64
전화번호         object
소재지면적       float64
소재지우편번호     float64
지번주소         object
도로명주소        object
도로명우편번호     float64
사업장명         object
최종수정일자      float64
데이터갱신구분      object
데이터갱신일자      object
업태구분명        object
좌표정보(X)     float64
좌표정보(Y)     float64
영업장주변구분명     object
dtype: object

In [35]:
del df['소재지면적']
del df['인허가일자']
del df['인허가취소일자']

KeyError: '소재지면적'

In [36]:
df.head()

,개방자치단체코드,관리번호,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,재개업일자,...,도로명주소,도로명우편번호,사업장명,최종수정일자,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),영업장주변구분명
0,3000000,3000000-101-1995-05829,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,...,서울특별시 종로구 평창길 352 (평창동),3004.0,북악파크부페,2.008070e+13,I,2018.8.31 23:59,뷔페식,197993.2057,456584.6271,기타
1,3000000,3000000-101-2002-11872,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,...,서울특별시 종로구 종로11길 10 12층 (인사동),3164.0,시민식당 2호점,2.018050e+13,I,2018.8.31 23:59,한식,198681.5719,452050.2743,NaN
2,3000000,3000000-101-1990-03102,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,...,서울특별시 종로구 종로41길 10 (종로6가),3124.0,일번우동,2.007080e+13,I,2018.8.31 23:59,분식,200533.4536,452156.9003,기타
3,3000000,3000000-101-1990-01952,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,...,서울특별시 종로구 필운대로6길 17-1 (통인동),3036.0,서촌소국밥,2.021120e+13,U,2021.12.31 2:40,한식,197250.3854,453135.4513,기타
4,3000000,3000000-101-1991-06486,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,...,서울특별시 종로구 종로 289 (창신동),3101.0,빽다방 동대문역점,2.020070e+13,U,2020.8.2 2:40,기타,200811.9254,452162.5695,기타

In [37]:
del df['최종수정일자']

In [38]:
df.dtypes

개방자치단체코드      int64
관리번호         object
영업상태코드        int64
영업상태명        object
상세영업상태코드      int64
상세영업상태명      object
폐업일자        float64
휴업시작일자      float64
휴업종료일자      float64
재개업일자       float64
전화번호         object
소재지우편번호     float64
지번주소         object
도로명주소        object
도로명우편번호     float64
사업장명         object
데이터갱신구분      object
데이터갱신일자      object
업태구분명        object
좌표정보(X)     float64
좌표정보(Y)     float64
영업장주변구분명     object
dtype: object

In [39]:
del df['소재지우편번호']
del df['관리번호']
del df['개방자치단체코드']
del df['휴업시작일자']
del df['휴업종료일자']

In [40]:
df.head()

,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,재개업일자,전화번호,지번주소,도로명주소,도로명우편번호,사업장명,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),영업장주변구분명
0,1,영업/정상,1,영업,NaN,NaN,02 3960044,서울특별시 종로구 평창동 110-1번지,서울특별시 종로구 평창길 352 (평창동),3004.0,북악파크부페,I,2018.8.31 23:59,뷔페식,197993.2057,456584.6271,기타
1,1,영업/정상,1,영업,NaN,NaN,NaN,서울특별시 종로구 인사동 98번지,서울특별시 종로구 종로11길 10 12층 (인사동),3164.0,시민식당 2호점,I,2018.8.31 23:59,한식,198681.5719,452050.2743,NaN
2,1,영업/정상,1,영업,NaN,NaN,02 7653726,서울특별시 종로구 종로6가 129-1번지,서울특별시 종로구 종로41길 10 (종로6가),3124.0,일번우동,I,2018.8.31 23:59,분식,200533.4536,452156.9003,기타
3,1,영업/정상,1,영업,NaN,NaN,02 7372214,서울특별시 종로구 통인동 27-2,서울특별시 종로구 필운대로6길 17-1 (통인동),3036.0,서촌소국밥,U,2021.12.31 2:40,한식,197250.3854,453135.4513,기타
4,1,영업/정상,1,영업,NaN,NaN,NaN,서울특별시 종로구 창신동 696-1,서울특별시 종로구 종로 289 (창신동),3101.0,빽다방 동대문역점,U,2020.8.2 2:40,기타,200811.9254,452162.5695,기타

In [41]:
del df['전화번호']

In [42]:
del df['영업장주변구분명']

In [43]:
df.head()

,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,재개업일자,지번주소,도로명주소,도로명우편번호,사업장명,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y)
0,1,영업/정상,1,영업,NaN,NaN,서울특별시 종로구 평창동 110-1번지,서울특별시 종로구 평창길 352 (평창동),3004.0,북악파크부페,I,2018.8.31 23:59,뷔페식,197993.2057,456584.6271
1,1,영업/정상,1,영업,NaN,NaN,서울특별시 종로구 인사동 98번지,서울특별시 종로구 종로11길 10 12층 (인사동),3164.0,시민식당 2호점,I,2018.8.31 23:59,한식,198681.5719,452050.2743
2,1,영업/정상,1,영업,NaN,NaN,서울특별시 종로구 종로6가 129-1번지,서울특별시 종로구 종로41길 10 (종로6가),3124.0,일번우동,I,2018.8.31 23:59,분식,200533.4536,452156.9003
3,1,영업/정상,1,영업,NaN,NaN,서울특별시 종로구 통인동 27-2,서울특별시 종로구 필운대로6길 17-1 (통인동),3036.0,서촌소국밥,U,2021.12.31 2:40,한식,197250.3854,453135.4513
4,1,영업/정상,1,영업,NaN,NaN,서울특별시 종로구 창신동 696-1,서울특별시 종로구 종로 289 (창신동),3101.0,빽다방 동대문역점,U,2020.8.2 2:40,기타,200811.9254,452162.5695

In [44]:
del df['재개업일자']
del df['폐업일자']

In [45]:
df.head()

,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,지번주소,도로명주소,도로명우편번호,사업장명,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y)
0,1,영업/정상,1,영업,서울특별시 종로구 평창동 110-1번지,서울특별시 종로구 평창길 352 (평창동),3004.0,북악파크부페,I,2018.8.31 23:59,뷔페식,197993.2057,456584.6271
1,1,영업/정상,1,영업,서울특별시 종로구 인사동 98번지,서울특별시 종로구 종로11길 10 12층 (인사동),3164.0,시민식당 2호점,I,2018.8.31 23:59,한식,198681.5719,452050.2743
2,1,영업/정상,1,영업,서울특별시 종로구 종로6가 129-1번지,서울특별시 종로구 종로41길 10 (종로6가),3124.0,일번우동,I,2018.8.31 23:59,분식,200533.4536,452156.9003
3,1,영업/정상,1,영업,서울특별시 종로구 통인동 27-2,서울특별시 종로구 필운대로6길 17-1 (통인동),3036.0,서촌소국밥,U,2021.12.31 2:40,한식,197250.3854,453135.4513
4,1,영업/정상,1,영업,서울특별시 종로구 창신동 696-1,서울특별시 종로구 종로 289 (창신동),3101.0,빽다방 동대문역점,U,2020.8.2 2:40,기타,200811.9254,452162.5695

In [46]:
new_df = df[df['상세영업상태명']=='영업']

In [47]:
new_df.head()

,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,지번주소,도로명주소,도로명우편번호,사업장명,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y)
0,1,영업/정상,1,영업,서울특별시 종로구 평창동 110-1번지,서울특별시 종로구 평창길 352 (평창동),3004.0,북악파크부페,I,2018.8.31 23:59,뷔페식,197993.2057,456584.6271
1,1,영업/정상,1,영업,서울특별시 종로구 인사동 98번지,서울특별시 종로구 종로11길 10 12층 (인사동),3164.0,시민식당 2호점,I,2018.8.31 23:59,한식,198681.5719,452050.2743
2,1,영업/정상,1,영업,서울특별시 종로구 종로6가 129-1번지,서울특별시 종로구 종로41길 10 (종로6가),3124.0,일번우동,I,2018.8.31 23:59,분식,200533.4536,452156.9003
3,1,영업/정상,1,영업,서울특별시 종로구 통인동 27-2,서울특별시 종로구 필운대로6길 17-1 (통인동),3036.0,서촌소국밥,U,2021.12.31 2:40,한식,197250.3854,453135.4513
4,1,영업/정상,1,영업,서울특별시 종로구 창신동 696-1,서울특별시 종로구 종로 289 (창신동),3101.0,빽다방 동대문역점,U,2020.8.2 2:40,기타,200811.9254,452162.5695

In [48]:
print(new_df)

        영업상태코드  영업상태명  상세영업상태코드 상세영업상태명                           지번주소  \
0            1  영업/정상         1      영업         서울특별시 종로구 평창동 110-1번지
1            1  영업/정상         1      영업            서울특별시 종로구 인사동 98번지
2            1  영업/정상         1      영업        서울특별시 종로구 종로6가 129-1번지
3            1  영업/정상         1      영업            서울특별시 종로구 통인동 27-2
4            1  영업/정상         1      영업           서울특별시 종로구 창신동 696-1
...        ...    ...       ...     ...                            ...
480799       1  영업/정상         1      영업      서울특별시 동대문구 이문동 316-2 지하1층
480804       1  영업/정상         1      영업  서울특별시 노원구 하계동 256-11 보스턴 산부인과
480806       1  영업/정상         1      영업       서울특별시 강남구 신사동 609-1 지하1층
480807       1  영업/정상         1      영업       서울특별시 용산구 한강로2가 116-1 1층
480809       1  영업/정상         1      영업            서울특별시 종로구 명륜3가 1-14

                                      도로명주소  도로명우편번호           사업장명 데이터갱신구분  \
0                   서울특별시 종로구 평창길 352 (평창동)   3004.0         북악파크부페       I
1              서울특별시 종로구 종로11길 10 12층 (인사동)   3164.0       시민식당 2호점       I
2                 서울특별시 종로구 종로41길 10 (종로6가)   3124.0           일번우동       I
3               서울특별시 종로구 필운대로6길 17-1 (통인동)   3036.0          서촌소국밥       U
4                    서울특별시 종로구 종로 289 (창신동)   3101.0      빽다방 동대문역점       U
...                                     ...      ...            ...     ...
480799       서울특별시 동대문구 휘경로2길 19 지하1층 (이문동)   2441.0        20bucks       U
480804  서울특별시 노원구 노원로 244 보스턴 산부인과 1층 (하계동)   1750.0            DNJ       U
480806       서울특별시 강남구 압구정로30길 23 (신사동지하1층)   6022.0           별달맛집       U
480807      서울특별시 용산구 한강대로 130-3 1층 (한강로2가)   4382.0  메가엠지씨커피 신용산역점       U
480809              서울특별시 종로구 명륜길 31 (명륜3가)   3071.0          희래등반점       U

                데이터갱신일자 업태구분명      좌표정보(X)      좌표정보(Y)
0       2018.8.31 23:59   뷔페식  197993.2057  456584.6271
1       2018.8.31 23:59    한식  198681.5719  452050.2743
2       2018.8.31 23:59    분식  200533.4536  452156.9003
3       2021.12.31 2:40    한식  197250.3854  453135.4513
4         2020.8.2 2:40    기타  200811.9254  452162.5695
...                 ...   ...          ...          ...
480799  2021.12.4 23:05    기타  205294.1706  454765.2611
480804  2021.12.4 23:05   중국식  206490.5943  459688.0609
480806  2021.12.4 23:05    한식  202534.5500  447079.2050
480807  2021.12.4 23:05    기타  197277.8630  447641.4505
480809   2021.12.7 0:01   중국식  199506.1836  454029.3973

[124991 rows x 13 columns]

In [56]:
df = new_df

In [57]:
new_df = df[df['도로명주소'].str.contains('강남구')]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [58]:
df['도로명주소'] = df['도로명주소'].fillna('0')

/var/folders/d2/20dks6yj46b_077x0h5fmr740000gn/T/ipykernel_4411/3872512382.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['도로명주소'] = df['도로명주소'].fillna('0')

In [59]:
df_check = df[df['도로명주소'] == '0']

In [60]:
print(df_check)

        영업상태코드  영업상태명  상세영업상태코드 상세영업상태명                         지번주소 도로명주소  \
39           1  영업/정상         1      영업        서울특별시 종로구 내수동 61-1번지      0
44           1  영업/정상         1      영업      서울특별시 종로구 신문로2가 19-0번지      0
46           1  영업/정상         1      영업       서울특별시 종로구 명륜3가 53-0번지      0
48           1  영업/정상         1      영업       서울특별시 종로구 명륜3가 53-0번지      0
58           1  영업/정상         1      영업         서울특별시 종로구 내수동 153번지      0
...        ...    ...       ...     ...                          ...   ...
478712       1  영업/정상         1      영업         서울특별시 종로구 명륜2가 142-4     0
479072       1  영업/정상         1      영업    서울특별시 종로구 명륜2가 114-2 지상1층     0
479974       1  영업/정상         1      영업     서울특별시 영등포구 대림동 1032-0 19     0
480357       1  영업/정상         1      영업  서울특별시 성동구 홍익동 122-10 (지상1층)     0
480664       1  영업/정상         1      영업     서울특별시 광진구 자양동 115-9 (A동)     0

        도로명우편번호    사업장명 데이터갱신구분          데이터갱신일자   업태구분명      좌표정보(X)  \
39          NaN      연정       I  2018.8.31 23:59      한식          NaN
44          NaN      시인       I  2018.8.31 23:59     경양식          NaN
46          NaN  명륜 쭈꾸미       I  2018.8.31 23:59      한식  199554.0744
48          NaN     곰돌이       I  2018.8.31 23:59      분식  199554.0744
58          NaN     한성집       I  2018.8.31 23:59      한식          NaN
...         ...     ...     ...              ...     ...          ...
478712      NaN     성균원       U  2021.12.3 22:07     중국식          NaN
479072      NaN       눅       U  2021.12.3 22:09      한식  199706.1209
479974      NaN     쇼쥬쟈       U   2021.12.5 0:08     중국식          NaN
480357      NaN      다온       U  2021.12.4 23:02     중국식  203067.1650
480664      NaN    둘리치킨       U  2021.12.4 23:05  통닭(치킨)          NaN

            좌표정보(Y)
39              NaN
44              NaN
46      453721.4627
48      453721.4627
58              NaN
...             ...
478712          NaN
479072  453592.0545
479974          NaN
480357  451489.4483
480664          NaN

[1660 rows x 13 columns]

In [61]:
df = df[df['도로명주소'].str.contains('강남구')]

In [62]:
print(df)

        영업상태코드  영업상태명  상세영업상태코드 상세영업상태명                               지번주소  \
219          1  영업/정상         1      영업             서울특별시 강남구 도곡동 411 빌딩 숨
381          1  영업/정상         1      영업  서울특별시 강남구 논현동 160-11 louis(루이스빌딩)
2072         1  영업/정상         1      영업    서울특별시 강남구 역삼동 707-34 한신인터밸리24빌딩
2263         1  영업/정상         1      영업         서울특별시 강남구 논현동 230-2 뜨레빌 빌라
2388         1  영업/정상         1      영업           서울특별시 강남구 논현동 261 현대인텔렉스
...        ...    ...       ...     ...                                ...
480687       1  영업/정상         1      영업                서울특별시 강남구 신사동 526-3
480708       1  영업/정상         1      영업                서울특별시 강남구 개포동 165-5
480733       1  영업/정상         1      영업               서울특별시 강남구 역삼동 735-36
480759       1  영업/정상         1      영업            서울특별시 강남구 개포동 1257 까사밀라
480806       1  영업/정상         1      영업           서울특별시 강남구 신사동 609-1 지하1층

                                                   도로명주소  도로명우편번호  \
219                    서울특별시 강남구 논현로 176 빌딩 숨 지상1층 (도곡동)   6296.0
381        서울특별시 강남구 강남대로122길 31 louis(루이스빌딩) 지상1층 (논현동)   6114.0
2072    서울특별시 강남구 테헤란로 322 한신인터밸리24빌딩 제지하2층 제비121호 (역삼동)   6211.0
2263         서울특별시 강남구 봉은사로37길 29 지상1층 102호 (논현동 뜨레빌 빌라)   6108.0
2388           서울특별시 강남구 언주로 620 현대인텔렉스 지하1층 6789호 (논현동)   6101.0
...                                                  ...      ...
480687                서울특별시 강남구 도산대로1길 78 지하1층지상1층 (신사동)   6027.0
480708                 서울특별시 강남구 선릉로8길 9 지상1층 102호 (개포동)   6325.0
480733                     서울특별시 강남구 테헤란로20길 18 1층 (역삼동)   6235.0
480759          서울특별시 강남구 개포로21길 10 지상1층 101호 (개포동 까사밀라)   6306.0
480806                    서울특별시 강남구 압구정로30길 23 (신사동지하1층)   6022.0

                      사업장명 데이터갱신구분          데이터갱신일자 업태구분명      좌표정보(X)  \
219                     뮤잇       I  2021.12.5 21:00   경양식  203621.8448
381                   영동반점       I  2021.12.7 23:04   중국식  202183.1480
2072               삼탱이시래기밥       U  2021.12.7 23:04    한식  204044.7899
2263                 신의한국수       I  2021.12.5 21:00    분식  203086.8738
2388              고기혁명 강남점       I  2021.12.5 21:00    한식  203140.5975
...                    ...     ...              ...   ...          ...
480687                로이신사       I  2021.12.4 23:05   경양식  201683.4145
480708  릿지딧지(Ridgey Didge)       U  2021.12.4 23:05    기타  205368.9468
480733            케그브루 역삼점       U  2021.12.4 23:05    기타  202975.0459
480759            청년피자 개포점       U  2021.12.5 23:09    기타  204099.1052
480806                별달맛집       U  2021.12.4 23:05    한식  202534.5500

            좌표정보(Y)
219     442563.6408
381     445154.0181
2072    444529.8404
2263    445303.0475
2388    445489.5990
...             ...
480687  446601.6317
480708  442321.6586
480733  444034.6598
480759  441905.7720
480806  447079.2050

[12316 rows x 13 columns]

In [66]:
df.to_csv("강남구 일반 음식점.csv",mode = 'w',encoding='CP949')